@page
@model TCX.Student.Web.Pages.Class.IndexModel
@inherits TCX.Student.Web.Pages.StudentPageBaseModel
@section scripts
{
    <abp-script src="/Pages/Class/index.js" />
}
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <h2>@L["Class"]</h2>
            </abp-column>
            <abp-column size-md="_6" class="text-right">
                <abp-button id="NewClassButton"
                            text="@L["New Class"].Value"
                            icon="plus"
                            button-type="Primary" />
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="ClassTable">
            <thead>
                <tr>
                    <th>@L["Actions"]</th>
                    <th>@L["Name"]</th>
                </tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>

